
NEON_DB_URL=
NEON_DB_USER=
NEON_DB_PASS=


APP_JWT_SECRET=
APP_JWT_EXPIRATION_MS=
APP_CORS_ALLOWED_ORIGINS=


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


APP_AUTH_ADMIN_SECRET_KEY=